<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/common.css}" type="text/css" />
	<title>Login</title>
</head>
<body>
	<div>
		<div class="text_align_center">
			<h2 class="color_red">ログイン画面</h2>
		</div>
		<div class="login_form">
			<form action="loginController" method="POST">
				<div class="login_id">
					<label>ログインID：</label>
					<input class="id" type="text" name="loginId" value="" />
				</div>
				<div class="login_pass">
					<label>ログインPASS：</label>
					<input class="pass" type="password" name="loginPass" value="" />
				</div>
				<input type="submit" value="ログイン" />
			</form>
			<p>登録は<a href="createAccount">こちら</a></p>
		</div>
	</div>
</body>
</html>